{% extends "layout.html" %}

{% block content %}

    <!-- Section: Blog v.1 -->
    <section class="my-5">

      <!-- Section heading -->
      <h2 class="h1-responsive font-weight-bold text-center my-3">Recent posts</h2>
      <!-- Section description -->
      <p class="text-center w-responsive mx-auto mb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        {% for post in posts %}

        <!-- Grid row -->
        <div class="row">

        <!-- Grid column -->
        <div class="col-lg-4">

            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="Sample image">
                <a><div class="mask rgba-white-slight"></div></a>
            </div>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-8">

            <!-- Post title -->
            <h3 class="font-weight-bold mb-3"><strong>{{ post.title }}</strong></h3>
            <!-- Category -->
            <a href="#!" class="green-text"><h6 class="font-weight-bold mb-3"><i class="fa fa-cutlery pr-2"></i>Code</h6></a>
            <!-- Excerpt -->
            <p>{{ post.content }}</p>
            <!-- Post data -->
            <p>by <a><strong>{{ post.author }}</strong></a>, {{ post.post_date }}</p>
            <!-- Read more button -->
            <a class="btn btn-success btn-md">Read more</a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

      <hr class="my-5">

    {% endfor %}

    </section>
    <!-- Section: Blog v.1 -->

{% endblock content %}
