{% extends "layout.html" %}

{% block content %}

    <!-- Section: Blog v.4 -->
    <section>

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12">

          <!-- Card -->
          <div class="card card-cascade wider reverse">

            <!-- Card image -->
            <div class="view view-cascade overlay">
              <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Sample image">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

              <!-- Title -->
              <h2 class="font-weight-bold">{{ post.title }}</h2>
              <!-- Data -->
              <p>by: <a class="badge badge-success"><strong>{{ post.author.username }}</strong></a> on: <span class="badge badge-warning">{{ post.post_date.strftime('%d %B, %Y') }}</span></p>
              <!-- Social shares -->
              <div class="social-counters">
                <!-- Facebook -->
                <a class="btn btn-fb">
                  <i class="fa fa-facebook pr-2"></i>
                  <span class="clearfix d-none d-md-inline-block">Facebook</span>
                </a>
                <span class="counter">46</span>
                <!-- Twitter -->
                <a class="btn btn-tw">
                  <i class="fa fa-twitter pr-2"></i>
                  <span class="clearfix d-none d-md-inline-block">Twitter</span>
                </a>
                <span class="counter">22</span>
                <!-- Google+ -->
                <a class="btn btn-gplus">
                  <i class="fa fa-google-plus pr-2"></i>
                  <span class="clearfix d-none d-md-inline-block">Google+</span>
                </a>
                <span class="counter">31</span>
                <!-- Comments -->
                <a class="btn btn-default">
                  <i class="fa fa-comments-o pr-2"></i>
                  <span class="clearfix d-none d-md-inline-block">Comments</span>
                </a>
                <span class="counter">18</span>
              </div>
              <!-- Social shares -->

            </div>
            <!-- Card content -->

          </div>
          <!-- Card -->

          <!-- Content -->
          <div class="mt-5">

            <p>{{ post.content }}</p>
          </div>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </section>
    <!-- Section: Blog v.4 -->

{% endblock content %}
