{% extends "layout.html" %}

{% block content %}

   <!-- Default form register -->
    <form method="POST" action="" class="text-center border border-light p-5">
        {{ form.hidden_tag() }}

        <p class="h4 mb-4">Sign up</p>
        <hr class="my-2">

        <div class="form-row mb-4">
            <div class="col">
                <!-- Username -->
                {{ form.username.label(class="form-control-label") }}

                {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control") }}
                {% endif %}
            </div>
        </div>

        <!-- E-mail -->
        <div class="form-row mb-4">
            <div class="col">
                <!-- Username -->
                {{ form.email.label(class="form-control-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}
            </div>
        </div>

        <!-- Password -->
        <div class="form-row mb-4">
            <div class="col">
                {{ form.password.label(class="form-control-label") }}

                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
            </div>
        </div>

        <!-- Confirm password -->
        <div class="form-row mb-4">
            <div class="col">
                {{ form.confirm_password.label(class="form-control-label") }}

                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control") }}
                {% endif %}
            </div>
        </div>

        <!-- Sign up button -->
        {{ form.submit(class="btn btn-info my-4 btn-block") }}

        <!-- Register -->
        <p>Already a member?
            <a href="{{ url_for('login') }}">Login</a>
        </p>

        <!-- Terms of service -->
        <p>By clicking
            <em>Sign up</em> you agree to our
            <a href="" target="_blank">terms of service</a> and
            <a href="" target="_blank">terms of service</a>. </p>

    </form>
    <!-- Default form register -->

{% endblock content %}
